<div class="form-group"></div>
<input name='' value="email"> <!-- value prende l'input, name è la chiave 
ngSubmit : prende il payload dell evento submit e fa il prevent default da solo

bisgona fare una propriet per ogni campo in input

property binding su proprietà value del campo in input (two-way databinding)
ma è brutto da fare

per farlo più bello si fa una cosa che è un connubio tra un property e un event binding
e questa sintassi si chiama banana in the box
a sinistra ci va il nome di una direttiva che si chiama ngmodel e a destra ci va
il nome della proprietà

Regole di validazione 

required
minlenght
maxlenght
ngForm che mi metto dentro una variabile (#nomevariabile)
form.invalid (true quando almeno una delle regole di validazione non è rispettata
-->
