<h1>Login</h1>
<form (ngSubmit)="handleSubmit(f)" #f="ngForm">
    <div class="form-group">
        <label for="">email</label>
        <input type="email" name="email" [(ngModel)]="email" #e="ngModel" required email appForbidden="bah">
        <!-- (change)="email = $event.target.value" [value]="email" -->
    </div>
    <div *ngIf="e.touched && e.invalid" class="alert alert-danger" role="alert">
        <p *ngIf="e.hasError('required')">Campo obbligatorio</p>
        <p *ngIf="e.hasError('email')">Indirizzo email non valido</p>
    </div>
    <div class="form-group">
        <label for="">password</label>
        <input type="password" name="password" [(ngModel)]="password" #p="ngModel" required minlength="8"
        appForbidden="boh">
    </div>
    <div class="row">
        <div class="col-lg-12">
            <button class="btn btn-primary">Login</button>
        </div>
    </div>
</form>
 <!-- value prende l'input, name è la chiave 
ngSubmit : prende il payload dell evento submit e fa il prevent default da solo

bisgona fare una propriet per ogni campo in input

property binding su proprietà value del campo in input (two-way databinding)
ma è brutto da fare

per farlo più bello si fa una cosa che è un connubio tra un property e un event binding
e questa sintassi si chiama banana in the box
a sinistra ci va il nome di una direttiva che si chiama ngmodel e a destra ci va
il nome della proprietà (ma SOLO con il 2 way binding)

Regole di validazione 

required
minlenght
maxlenght
ngForm che mi metto dentro una variabile (#nomevariabile)
form.invalid (true quando almeno una delle regole di validazione non è rispettata
-->
